* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --light-blue: #bbb8fa;
  --dark-blue: #070439;
  --gray: hsl(0, 0%, 50%);
  --green: hsl(163, 95%, 43%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

.left {
  display: grid;
  padding: 2rem;
  background: #605baf;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #605baf 0%, #000370 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #605baf 0%, #000370 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #605baf 0%, #000370 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#605baf', endColorstr='#000370', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.left .nav {
  visibility: hidden;
}

.main-image {
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 30px;
}

.right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
  padding: 2rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav-logo {
  justify-self: start;
}

.social {
  justify-self: end;
}

.social i {
  margin-right: 20px;
  color: var(--dark-blue);
}


.container {
  background-color: var(--grey);
  width: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 8px 19px -9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 19px -9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 8px 19px -9px rgba(0, 0, 0, 0.25);
}

.innerContent {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 45% 55%;
  /* overflow: hidden; */
}

#mobile-picture {
  display: none;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  color: var(--dark-blue);
}


.heading {
  padding-top: 50px;
}

.body-text {
  font-weight: 400;
  color: #afafaf;
  line-height: 1.5rem;
  hyphens: none;
}

.input-heading {
  display: grid;
  align-content: end;
}

.input-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

.email-field {
  height: 3rem;
  grid-column: 1/3;
  padding: 5px;
  border: none;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
}

.btn {
  display: flex;
  height: 3rem;
  background-color: #06d79d;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer {
  display: grid;
  align-content: end;
}

.footer-text {
  display: flex;
  justify-self: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}